/** Colors */
/** Typography */
/** Header */
#header_cart {
  color: #fff !important;
}

.logo-main.scale-with-grid {
  max-height: 50px !important;
}

#Top_bar .menu > li > a {
  padding: 10px 0;
}

#Top_bar #logo {
  padding: 0 !important;
}

.header-transparent #Top_bar #logo {
  height: 100px !important;
}

.logo-main.scale-with-grid {
  margin-bottom: 1.8em;
}

#menu-main-menu {
  margin-bottom: 0.7rem !important;
}

#Top_bar.is-sticky .top_bar_right .top_bar_right_wrapper {
  height: 60% !important;
}
#Top_bar.is-sticky #menu-main-menu {
  margin-bottom: 0 !important;
}

@media (max-width: 1023.99px) {
  #Header {
    padding-left: 1.618em;
    padding-right: 1.618em;
  }
}
/** Pages */
.home.page #Top_bar {
  background: transparent !important;
}

.page #Wrapper #Header_wrapper #Header #Top_bar {
  background-color: #000 !important;
}
.page #Wrapper #Header_wrapper #Subheader .container .column .title {
  display: none;
}
.page #Wrapper #Header_wrapper #Subheader .container .column .breadcrumbs {
  display: none;
}

/** Talent Grid */
#userlisting_pagination {
  display: flex;
  justify-content: center;
  width: 32%;
  margin: 0 auto;
  background-color: #b10000;
  padding: 1em 2em;
  color: #fff;
}
#userlisting_pagination .selected {
  width: auto;
  color: #000;
}
#userlisting_pagination .page-link {
  display: inline;
  width: auto;
  padding: 0 0.3em;
}

#wppb-facet-imdb_link_directors h5 {
  color: #f5f5f5;
}
#wppb-facet-imdb_link_directors .wppb-facet-search-wrap label {
  width: 100%;
}
#wppb-facet-imdb_link_directors .wppb-facet-search-wrap label .wppb-search-submit {
  height: auto !important;
  min-height: 45px;
}

#send-private-message {
  display: none !important;
}

#card-container .talent-col {
  margin: 1.618em auto;
}
#card-container #wppb-facet-age {
  width: 25%;
}
#card-container .wppb-faceted-list {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1.618em;
  display: flex;
  flex-wrap: wrap;
}
#card-container .wppb-faceted-list li {
  padding: 10px !important;
  flex: 0 0 30%;
  max-width: none !important;
}
#card-container .wppb-faceted-list .select2-search.select2-search--inline {
  height: 43px;
}
#card-container .wppb-faceted-list li:nth-child(1) {
  flex-basis: 100%;
}
#card-container #wppb-remove-facets-container li a {
  color: #f5f5f5 !important;
}

.talent-card.card {
  border: none;
}
.talent-card.card img {
  object-fit: cover;
  height: 100%;
  max-height: 250px;
  min-height: 250px;
}
.talent-card.card .card-body {
  background-color: #6E0218;
  color: #fff;
}
.talent-card.card .button-more {
  background: #fff;
  padding: 0.5em 2em;
}
.talent-card.card .button-more a {
  color: #000;
}

.wppb-facet-filter.wppb-facet-select,
.wppb-facet-filter.wppb-facet-range,
.wppb-facet-filter.wppb-facet-select_multiple {
  color: #fff;
}
.wppb-facet-filter.wppb-facet-select h5,
.wppb-facet-filter.wppb-facet-range h5,
.wppb-facet-filter.wppb-facet-select_multiple h5 {
  color: #fff;
}

.wppb-ul-range-values.age {
  color: #fff;
}

#wppb-facet-age {
  width: 23%;
  margin-left: 0.5em;
}

.search-label {
  color: #fff;
  margin-left: 1.618em;
}

.wppb-faceted-list .ui-widget-header, .wppb-ul-slider-range {
  background-color: #6E0218 !important;
  border-color: #6E0218 !important;
}

/** max width */
@media (max-width: 767.98px) {
  #card-container li.wppb-facet-filter {
    flex: 0 0 44.5% !important;
  }
}
@media (max-width: 575.98px) {
  #card-container li.wppb-facet-filter {
    flex: 0 0 100% !important;
  }
}
/** min width */
/** Member Profile */
#notifications-personal-li,
#forums-personal-li {
  display: none;
}

#profile-data {
  margin-bottom: 2.618em;
}
#profile-data h3 {
  color: #fff;
}
#profile-data label {
  color: #fff;
}
#profile-data span {
  color: #fff;
}
#profile-data .subnav a {
  color: #b10000;
}

#item-body a {
  color: #b10000;
}

#wppb-back-span .wppb-back {
  padding: 0.5em 1.2em;
  background: #b10000;
  color: #fff;
}

.buddypress-wrap.bp-dir-hori-nav:not(.bp-vertical-navs) nav:not(.tabbed-links) {
  border: 1px solid #fff;
  box-shadow: none;
}

#object-nav ul li a {
  color: #b10000;
}

.container-fluid.wppb-profile h3, .container-fluid.wppb-profile h3:first-child {
  margin: 20px 0;
  padding-top: 20px;
  border-top: 1px solid #d2d2d2;
}

.card.demo-reel-card {
  background: transparent;
  border: none;
  max-width: 500px;
  margin: 0 0 0 0;
  text-align: left;
}

/** My Account */
.user-page-link {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #fff;
  border-color: var(--tabs-active-border-color, transparent);
}
.user-page-link a {
  background: #b10000;
  color: #fff;
  padding: 0.9em 2.691em 0.9em 2.691em;
}
.user-page-link a:hover {
  color: #fff;
}

.my-account-btn a {
  background: #b10000 !important;
  color: #fff !important;
}

/** Log In */
#login-form .login-username,
#login-form .login-password,
#login-form label {
  color: #fff;
}
#login-form #wppb-submit {
  background: #b10000;
}
#login-form .login-register-lost-password a {
  color: #b10000;
}

.wppb-sc-heading-before-reg-buttons h3 {
  display: none;
}

/** Footer */
.wpcf7-form.init .column.four-fifth.ftr-frm {
  width: 60%;
  padding: 0 7px 10px 0px;
}

@media (max-width: 1023.99px) {
  .footer-content {
    text-align: center;
  }
  .footer-content img {
    margin: 0 auto;
    display: block;
  }
  .footer-content .ftr-scl {
    text-align: center;
  }

  #Footer #block-8 {
    margin-left: 0px !important;
  }

  #company {
    text-align: center;
  }

  #quick-link {
    text-align: center;
  }

  #stay-in-touch {
    text-align: center;
  }

  .wpcf7-form.init .column.four-fifth.ftr-frm {
    width: 100%;
  }
}
/** Gravity Forms */
#gform_wrapper_3 h2 {
  color: #fff;
}
#gform_wrapper_3 .gfield_label {
  color: #fff;
}
#gform_wrapper_3 .gfield_required {
  color: #fff;
}
#gform_wrapper_3 label {
  color: #fff;
}
#gform_wrapper_3 #gform_submit_button_3 {
  background-color: #b10000;
}

/** BuddyPress */
#buddypress {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1.618em;
}

.buddypress-wrap.bp-dir-hori-nav:not(.bp-vertical-navs) nav:not(.tabbed-links) {
  border: 1px solid #f5f5f5;
  box-shadow: none;
}

#object-nav ul li a {
  color: #b10000;
}

/** Global */
#Wrapper {
  background: transparent;
}

/** Sign Up
--------------------- */
#sign-up-page h4 a {
  color: #fff !important;
}
#sign-up-page .woocommerce-Price-amount.amount, #sign-up-page .subscription-details {
  color: #b10000;
}

#wppb-register-user-casting-director-and-producer label,
#wppb-register-user-actor label,
#wppb-register-user-crew label {
  color: #f5f5f5;
}
#wppb-register-user-casting-director-and-producer h4,
#wppb-register-user-actor h4,
#wppb-register-user-crew h4 {
  color: #f5f5f5;
}
#wppb-register-user-casting-director-and-producer .wppb-description-delimiter,
#wppb-register-user-actor .wppb-description-delimiter,
#wppb-register-user-crew .wppb-description-delimiter {
  color: #f5f5f5;
}
#wppb-register-user-casting-director-and-producer .submit.button,
#wppb-register-user-actor .submit.button,
#wppb-register-user-crew .submit.button {
  background: #b10000;
  color: #f5f5f5;
  border-radius: 0;
}
#wppb-register-user-casting-director-and-producer .button.wppb_upload_button,
#wppb-register-user-actor .button.wppb_upload_button,
#wppb-register-user-crew .button.wppb_upload_button {
  background: #b10000;
  color: #f5f5f5;
  border-radius: 0;
}
#wppb-register-user-casting-director-and-producer .wppb-field-visibility-settings-toggle,
#wppb-register-user-actor .wppb-field-visibility-settings-toggle,
#wppb-register-user-crew .wppb-field-visibility-settings-toggle {
  color: #f5f5f5;
}

/** Buttons
--------------------- */
.btn.btn-red {
  background: #b10000;
  color: #f5f5f5 !important;
  padding: 1em 2em;
  border-radius: 0;
}

/** Job Posting */
#job-post .elementor-post__read-more {
  color: #b10000 !important;
}
#job-post h2, #job-post h1.elementor-heading-title {
  color: #000 !important;
}

#job-posting .elementor-post__read-more {
  color: #b10000 !important;
}
#job-posting h2, #job-posting h1.elementor-heading-title {
  color: #000 !important;
}

/** Navigation */
#Header_wrapper {
  background-color: transparent !important;
}
#Header_wrapper #Header {
  background-color: transparent !important;
}
#Header_wrapper #Header #Top_bar {
  background-color: transparent !important;
}

/** Tabitha Edits Per Ticket #790142  **/
.top_bar_right_wrapper .action_button.top-bar-right-button {
  display: none !important;
}

/*# sourceMappingURL=custom.css.map */
