/** My Account */

#select2-wppb-profile-form-user-to-edit-container {
  
}

.select2-selection.select2-selection--single {
  height: 50px !important;
  .select2-selection__arrow {
    margin-top: 10px !important;
  }
}

.user-page-link {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: $white;
  border-color: var(--tabs-active-border-color,transparent);
  a {
    background: $red;
    color: $white;
    padding: 0.9em 2.691em 0.9em 2.691em;
    &:hover {
      color: $white;
    }
  }
}

.my-account-btn {
  a {
    background: $red !important;
    color: $white !important;
  }
}

.xprofile.bp-user {
  #casting-call {
    display: none;
  }
  &.my-account {
    #casting-call {
      display: block !important;
    }
  }
}

#wppb-back-span {
  margin-top: 2em;
}