/** Talent Grid */
/*
#wppb-facet-height {
  width: 38.9%;
}

#wppb-facet-talent_weight {
  width: 38.9%;
}

#wppb-facet-age {
  width: 38.9%;
}

#wppb-facet-talent_eye_color {
  width: 38.9%;
}

#wppb-facet-ethnicity {
  width: 38.9%;
}

#wppb-facet-hair_color_1 {
  width: 38.9%;
}
*/

#card-container {
  .talent-col {
    margin: 1.618em auto;
  }
  #wppb-facet-age {
    width: 25%;
  }
  .wppb-faceted-list {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.618em;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;

    li {
      padding: 10px !important;
      flex:0 0 30%;
      max-width: none !important;
    }

    .select2-search.select2-search--inline {
      height: 43px;
    }
    li:nth-child(1) {
      flex-basis: 100%;
    }
  }
  #wppb-remove-facets-container {
    li a {
      color: $white-smoke !important;
    }
  }
}

.talent-card.card {
  border: none;
  img {
    object-fit: cover;
    height: 100%;
    max-height: 250px;
    min-height: 250px;
  }
  .card-body {
    background-color: #6E0218;
    color: $white;
  }

  .button-more {
    background: #fff;
    padding: 0.5em 2em;
    a {
      color: $black;
    }
  }
}

.wppb-facet-filter.wppb-facet-select,
.wppb-facet-filter.wppb-facet-range,
.wppb-facet-filter.wppb-facet-select_multiple {
  h5 {
    color: $white;
  }
  color: $white;
}

.wppb-ul-range-values.age {
  color: $white;
}

#wppb-facet-age {
  width: 23%;
  margin-left: .5em;
}

.search-label {
  color: $white;
  margin-left: 1.618em;
}

.wppb-faceted-list .ui-widget-header, .wppb-ul-slider-range {
  background-color: #6E0218 !important;
  border-color: #6E0218 !important;
}